body {
  font-size: 16px;
}

.header {
  background-color: #f3eed9;
  text-align: center;
  padding: 10vh 25vw;
}

.subcaption {
  text-transform: uppercase;
  font-size: 0.8rem;
}

h1 {
  color: #824936;
}

img {
  max-width: 100%;
  border: 0;
}

section {
  min-height: 16rem;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 6rem;
  gap: 2rem;
}

section:not(.quality-designs) {
  padding: 3rem 6rem;
}

.section-image {
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.two-column {
  columns: 2;
  column-gap: 2rem;
}

.quality-designs {
  background-color: white;
  flex-direction: column;
  justify-content: center;
}

.quality-designs h2 {
  color: #824936;
  text-align: center;
}

.section-text,
.section-image {
  flex-grow: 0;
  width: 50%;
}

.section-text {
  /* border: 1px solid yellow; */
}

.section-text h2 {
  /* border: 1px solid cyan; */
  margin-top: 0;
}

.section-text p {
  /* border: 1px solid hotpink; */
}

section:nth-child(2) {
  background-color: #222c2a;
}

section:nth-child(3) {
  background-color: #824936;
  flex-direction: row-reverse;
}
